<div class="contact-card">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <label for="first-name">First Name: </label>
        <input id = "first-name" type="text" [ngModel]="fName">
      

        <label for="last-name">Last Name: </label>
        <input type="text" id="last-name" [ngModel]="lname">

        <label for="phone-number">Phone Number:</label>
        <input type="number" id="phone-number" [ngModel]="pNumber">

        <label for="email">Email: </label>
        <input type="text" id="email" [ngMoel]="email">
    </form>
</div>

<div class="contact-card">
    <button type="button" 
    (click)="add">
    Submit</button>
</div>
